/*------------
Reset
-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/*------------
Generals
-------------*/
.big-container {
  max-width: 120rem;
  margin-inline: auto;
}

.small-container {
  max-width: 100rem;
  margin-inline: auto;
}

section:not(section.hero) {
  margin-block: 10rem;
}

button {
  border: none;
  background-color: transparent;
  padding: 1.5rem 2rem;
  color: #fff;
  cursor: pointer;
}

button.primary {
  background-color: #0061ff;
  transition: background-color 500ms ease-in-out;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.underline {
  text-decoration: underline;
  color: #0061ff;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
}

.col-1-3 {
  width: calc(100% / 3);
}

/*------------
Header
-------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
header > * {
  padding: 1.5rem 2rem;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
}

header nav ul li + li {
  margin-left: 2rem;
}

/*------------
Main
-------------*/
section.hero {
  background-color: #b4d0e7;
}

section.hero .hero-container {
  position: relative;
  top: 8rem;
}

section.hero .hero-container h1.title {
  font-size: 6rem;
  line-height: 8rem;
  padding-block: 2rem;
  margin-bottom: 3rem;
  padding-right: 5rem;
}

section.hero .hero-container .hero-bottom {
  display: flex;
}

section.hero .hero-container .hero-bottom .left {
  width: 40%;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.hero .hero-container .hero-bottom .left p {
  margin-bottom: 2rem;
}

section.hero .hero-container .hero-bottom .left span {
  margin-top: 2rem;
  display: block;
  margin-bottom: 2rem;
}

section.hero .hero-container .hero-bottom .left .hero-icon {
  margin-bottom: 10rem;
  font-size: 4rem;
}

section.hero .hero-container .hero-bottom .right {
  width: 60%;
}

/*------------
section offerts 
-------------*/
section.offers h2 {
  font-size: 3rem;
  padding-block: 2.4rem;
}

.offers .plans-tipe {
  display: flex;
}

.offers .plans-tipe > * {
  margin-block: 2.5rem;
}

.offers .plans-tipe div:nth-child(2) {
  margin-left: 3rem;
}

.offers .plans-tipe * {
  cursor: pointer;
}

/*-----------
cards planes
------------*/
.my-row.cards {
  margin-inline: -1rem;
}
.col-1-3.card {
  width: calc((100% / 3) - 2rem);
  margin-inline: 1rem;
  border: 0.1rem solid #ebebec;
}

.col-title {
  text-align: center;
  padding-block: 1rem;
  border-bottom: 0.1rem solid #ebebec;
}

.col-title i {
  margin-right: 0.5rem;
}

.offer-description,
.more-info {
  padding: 3rem 2rem;
}

.offer-description::after {
  content: "";
  width: 5rem;
  height: 0.15rem;
  display: block;
  margin-top: 2.5rem;
  background-color: #ccc;
}

.offer-description h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.offer-description > span {
  margin-block: 1rem;
  display: block;
}

.offer-description span.price {
  font-weight: 600;
}

.offer-description span.frequency {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2.5rem;
}

.offer-description ul {
  min-height: 20rem;
}
.offer-description ul li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.5rem;
}

.offer-description ul li i {
  position: absolute;
  top: 0.5rem;
  left: -0.7rem;
}

.offer-description ul li span {
  font-size: 1.4rem;
  padding-left: 0.2rem;
}

.offer-description button.primary {
  margin-block: 2.5rem;
  width: 100%;
}

.more-info .title-details {
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.more-info ul li {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  position: relative;
}

.more-info ul li::before {
  content: "\2713";
  display: inline-block;
  margin-right: 0.5rem;
  position: absolute;
  left: -0.5rem;
  color: #0061ff;
  font-weight: 700;
  font-size: 1.8rem;
}

/*-----card full-------*/
.col-full.card {
  width: calc(100% - 2rem);
  margin-inline: 1rem;
  margin-top: 2rem;
  border: 0.1rem solid #ebebec;
}

.col-full.card .content-container {
  display: flex;
}

.col-full.card .content-container .card-left,
.col-full.card .content-container .card-right {
  padding: 3rem 2rem;
}

.col-full.card .content-container .card-left {
  width: 70%;
}

.col-full.card .content-container .card-right {
  width: 30%;
}

.col-full.card .content-container .card-right button.primary {
  width: 100%;
}

.card-left h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.card-left h4 {
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

.card-left p {
  font-size: 1.4rem;
}

/*------------
Animations / effects
-------------*/
button.primary:hover {
  background-color: #3781f8;
}

header nav ul li a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  position: relative;
  top: 0.8rem;
  display: block;
  background-color: #0061ff;
  transition: width 800ms ease-in-out;
}

header nav ul li:hover a:not(#logo):after {
  width: 100%;
}

/*------------
Debug
-------------*/
/* .debug header {
  border: 1px solid red;
} */
/*
.debug header > * {
  background-color: blueviolet;
} */

/* .debug section.hero {
  height: 60vh;
} */
/* .debug section.hero .big-container {
  border: 1px solid blue;
  min-height: 100%;
}

.debug section.hero .big-container > * {
  border: 1px solid green;
}

.debug section.hero .title {
  font-weight: bold;
}

.debug section.hero .hero-container .hero-bottom > * {
  border: 1px solid black;
} */

/* .debug .my-row {
  border: 1px solid red;
}

.debug .col-full.card .content-container > * {
  border: 1px solid blue;
} */
