/*------------
Reset
-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: #fff;
}

/*------------
Header
-------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
header > * {
  padding: 1.5rem 2rem;
}

/*------------
Debug
-------------*/
.debug header {
  background-color: aqua;
}
.debug header > * {
  background-color: blueviolet;
}
